{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
    </style>
    <h1>Logo Sortir.com</h1>
    <div class="container">


        <div class="row">
            <div class="card">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nom de la sortie</th>
                        <th scope="col">Date de la sortie</th>
                        <th scope="col">Clôture</th>
                        <th scope="col">Inscris / Places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in listeSorties %}
                        <tr>

                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateSortie|date("m/d/Y") }}</td>
                            <td>{{ sortie.getEndDate }}</td>
                            <td>{{ sortie.getSizeOfUsers() }}/{{ sortie.nombrePlace }}</td>
                            <td>{{ sortie.getEtatToString() }}</td>
                            <td>
                                {% if sortie.getParticipation(app.user) == 1 %}X{% endif %}
                            </td>
                            <td>{{ sortie.organisateur }}</td>
                            <td>
                                <a href="#" class="btn btn-outline-primary btn-floating"><i class="fas fa-edit"></i></a>
                                <a href="#" class="btn btn-outline-danger btn-floating"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(listeSorties) }}
            </div>
        </div>
    </div>
{% endblock %}
