{% extends 'base.html.twig' %}

{% block title %}Hello CreateSortieController!{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container mt-3" style="max-width: 1000px">
        <h3 class="text-center">Créer votre sortie</h3>
        {{ form_start(createSortie) }}

        <div class="row">
            <div class="col-lg-6 col-md-12">
                {{ form_row(createSortie.tripName) }}
                {{ form_row(createSortie.tripStartDate) }}
                {{ form_row(createSortie.deadlineRegistrationDate) }}
                {{ form_row(createSortie.capacity) }}
                {{ form_row(createSortie.duration) }}
                {{ form_row(createSortie.description) }}
            </div>
            <div class="col-lg-6 col-md-12">
                {{ form_row(createSortie.place) }}
                <select class="form-select" for="place" name="{{ field_name(createSortie.place) }}"
                        aria-label="Default select example" onclick="placeLoad()">
                </select>
            </div>
            <div class="col-lg-6 col-md-12">
                {{ form_row(createSortie.groups) }}
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-2">
                    <button type="submit" class="btn btn-block btn-primary">Enregistrer</button>
                </div>
                <div class="col-lg-4 col-md-12 mb-2">
                    <button type="submit" class="btn btn-block btn-primary">Publier la sortie</button>
                </div>
                <div class="col-lg-4 col-md-12 mb-2">
                    <button type="submit" class="btn btn-block btn-primary">Annuler</button>
                </div>
            </div>
        </div>
        {{ form_end(createSortie) }}
    </div>
{% endblock %}
