{% extends 'base.html.twig' %}

{% block title %}Hello CreateSortieController!{% endblock %}

{% block body %}
    <div class="container mt-3" style="max-width: 1000px">
        {{ form_start(createSortie) }}
        <h3 class="text-center">Créer votre sortie</h3>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                {{ form_row(createSortie.tripName) }}
                {{ form_row(createSortie.tripStartDate) }}
                {{ form_row(createSortie.deadlineRegistrationDate) }}
                {{ form_row(createSortie.duration) }}
                {{ form_row(createSortie.description) }}
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                    {{ form_row(createSortie.groups) }}
                {% else %}
                    {{ form_row(createSortie.capacity) }}
                {% endif %}

            </div>
            <div class="col-lg-6 col-md-12">
                {{ form_row(createSortie.place) }}
                <select class="form-select" id="place" name="{{ field_name(createSortie.place) }}"
                        aria-label="Default select example" onclick="placeLoad()">
                </select>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-2">
                    <button type="submit" class="btn btn-block btn-primary">Enregistrer</button>
                </div>
                <div class="col-lg-4 col-md-12 mb-2">
                    <button type="submit" class="btn btn-block btn-primary">Publier la sortie</button>
                </div>
                <div class="col-lg-4 col-md-12 mb-2">
                    <button type="submit" class="btn btn-block btn-primary">Annuler</button>
                </div>
            </div>
        </div>
        {{ form_end(createSortie) }}
    </div>
{% endblock %}
