{% extends 'base.html.twig' %}

{% block title %}Information utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4 mb-4" style="max-width: 800px">
        <div class="row">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">{{ user.username }}</h2>
                    <div class="row mt-2 mb-2">
                        <div class="row">
                            <div class="col-6 font-weight-bold">
                                <p class="card-text bold">Prenom :</p>
                            </div>
                            <div class="col-6">
                                <p>{{ user.lastname }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-weight-bold">
                                <p class="card-text">Nom :</p>
                            </div>
                            <div class="col-6">
                                <p>{{ user.firstname }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-weight-bold">
                                <p class="card-text">Téléphone :</p>
                            </div>
                            <div class="col-6">
                                <p>{{ user.phoneNumber }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-weight-bold">
                                <p class="card-text">Email :</p>
                            </div>
                            <div class="col-6">
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-weight-bold">
                                <p class="card-text">Ville :</p>
                            </div>
                            <div class="col-6">
                                <p>{{ user.city.cityName }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ path("home") }}" class="btn btn-primary btn-block">Retour</a>
                        </div>
                        {% if app.user != null and user == app.user %}
                            <div class="col-6">
                                <a href="{{ path("app_edit_register") }}"
                                   class="btn btn-primary btn-block">Modification</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
